$container: 'router-view-container';
.#{$container} {
  padding-top: 100px;
  padding-left: 20%;
  @media screen and (max-width: 480px) {
    padding-left: 10%;
  }
  h1 {
    font-size: 28px;
    padding-bottom: 22px;
    color: #333;
  }
  h3 {
    font-size: 22px;
    padding-bottom: 36px;
    color: #444;
  }
}
