.slide-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-leave-active {
  transition: all 0s none;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(7px);
  opacity: 0;
}
